.efecto_turnos {
    background-color: forestgreen;
    animation-duration: 1s;
    animation-name: pulse;
    animation-iteration-count: 1;
}

#efecto_mensaje {
    animation-duration: 10s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slidein {
    from {
        margin-left: 50%;
        width: 100%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.6);
    }
}